html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 10px;
    box-sizing: border-box;
    font-family: "dovetail-mvb", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

body {
    font-size: 1.5rem;
    margin: 0;
    padding: 5rem;
    color: darkgoldenrod;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.text-container {
  background-color: transparent;
  width: 320px;
  height: 200px;
  text-align: center;
  padding: 3rem;
  margin: .5rem;
}

.text-character {
    text-align: left;
    font-size: 1rem;
    padding: 1rem;
}

.text-container-yellow {
    color: darkgoldenrod;
    background-color: white;
    padding: 2.5rem;
    border-radius: 3.5rem 3.5rem 0 3.5rem;
    animation-duration: 700ms;
}

.text-container-blue {
    color: royalblue;
    background-color: white;
    padding: 2.5rem;
    border-radius: 3.5rem 3.5rem 3.5rem 0;
    animation-duration: 700ms;
}

.text-container-blue:hover{
    color: white;
    animation-name: bgColor-changed--blue;
    animation-iteration-count: infinite;
    animation-direction: alternate;
          
      }
      
      @keyframes bgColor-changed--blue {
        0% {background-color: royalblue}
        25% {background-color: #170063}
        50% {background-color: royalblue}
        75% {background-color: #170063}
        100% {background-color: royalblue}
      }

.text-container-yellow:hover{
        color: white;
        animation-name: bgColor-changed--yellow;
        animation-iteration-count: infinite;
        animation-direction: alternate;
              
          }
          
          @keyframes bgColor-changed--yellow {
            0% {background-color: #E8AE47}
            25% {background-color: #c78c06}
            50% {background-color: #E8AE47}
            75% {background-color: #c78c06}
            100% {background-color: #E8AE47}
          }